@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  :root {
    font-size: 16px;
    line-height: 24px;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --surface-1: #fefbff;
    --surface-2: #efeef8;
    --surface-3: #e9e9f6;
    --surface-4: #e7e8f5;
    --surface-5: #e3e4f4;

    --neutral-100: #ffffff;
    --neutral-99: #fefbff;
    --neutral-95: #f2f0f4;
    --neutral-90: #e4e1e6;
    --neutral-80: #c8c6ca;
    --neutral-70: #acaaaf;
    --neutral-60: #919094;
    --neutral-50: #77767a;
    --neutral-40: #5e5e62;
    --neutral-30: #47464a;
    --neutral-20: #303034;
    --neutral-10: #1b1b1f;
    --neutral-0: #000000;

    --back: #f1f1f1;
    --main: #202020;

    color-scheme: light dark;
    color: var(--main);
    background-color: var(--surface-2);
  }

  a {
    text-decoration: inherit;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: "DM Sans", "Roboto", Helvetica, Arial, sans-serif;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  h2 {
    @apply text-xl font-bold mb-4;
  }

  input,
  textarea,
  select {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    @apply bg-surface-2 shadow-inner;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@layer components {
  @media (prefers-color-scheme: dark) {
    :root {
      --surface-1: #1b1b1f;
      --surface-2: #272931;
      --surface-3: #2c2e38;
      --surface-4: #2e2f3a;
      --surface-5: #31333e;

      --neutral-100: #ffffff;
      --neutral-99: #fefbff;
      --neutral-95: #f2f0f4;
      --neutral-90: #e4e1e6;
      --neutral-80: #c8c6ca;
      --neutral-70: #acaaaf;
      --neutral-60: #919094;
      --neutral-50: #77767a;
      --neutral-40: #5e5e62;
      --neutral-30: #47464a;
      --neutral-20: #303034;
      --neutral-10: #1b1b1f;
      --neutral-0: #000000;

      --back: #202020;
      --main: #f1f1f1;
    }
  }
}
